<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">В космос!</a>
            </p>
            <p class="mb-1">И восстали машины из пепла ядерного огня, и пошла война на уничтожения человечества.</p>
            <p class="mb-1">И шла она десятилетия, но последнее сражение состоится не в будущем, оно состоится здесь, в наше время, сегодня ночью.</p>
            <p class="mb-0">Видос для рофла: <a href="https://www.youtube.com/watch?v=FCxu1wIpGsE&t=2s">*клик*</a> и <a href="https://www.youtube.com/watch?v=Wv7Xekgvfb0&t=2s">*клик#2*</a>.</p>
        </div>
    </footer>
</div>